use Mix.Config

# Configure your database
config :homeboard, Homeboard.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "your_user",
  password: "your_pwd",
  database: "your_db",
  hostname: localhost,
  port:      3333,
  pool_size: 10